{% extends "base.html" %}

{% block content %}
{{post.render() | safe}}
<form method="post">
    {% if user %}

    {% if user.name == post.author %}
    <a href="/blog/{{post.key().id()}}/edit">&#9998; Edit</a>
    <a href="/blog/{{post.key().id()}}/deletepost">&#10006; Delete</a>
    {% endif %}

    {% if user.name != post.author and user.name not in post.liked_by %}
    <a href="/blog/{{post.key().id()}}/like">&#128077; Like</a>
    {# if user logged in and already liked post, show unlike button #}
    {% elif user.name in post.liked_by %}
    <a href="/blog/{{post.key().id()}}/unlike">&#128078;Unlike</a>
    {% endif %}

    <a href="/blog/{{post.key().id()}}/newcomment">&#128172; Comment</a>

    {% endif %}

<div>
    <h4>Comments</h4>

    {% for c in post.comments %}

    <div>
        {{ c.parent().name }}: {{ c.comment }}

        {% if user.name == c.author %}
        <a href="/blog/{{post.key().id()}}/editcomment/{{c.key().id()}}">
            &#9998; edit</a>
        <span> | </span>
        <a href="/blog/{{post.key().id()}}/deletecomment/{{c.key().id()}}">
            &#10006; delete</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
</form>
{% endblock %}